.btn {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: $round-md;
  min-height: 38px;
  min-width: 38px;

  &.default {
    background: $primary;
  }

  &.alternate {
    background: $catskill-white;
    color: $wild-blue-yonder;
  }
}
