* {
  font-family: 'Roboto';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
  background: $light-gray;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.page {
  display: flex;
  height: 100%;

  &.admin {
    .content {
      padding: 20px;
      flex: 1;
      overflow-y: auto;
    }
  }
}

.fill {
  flex: 1;
}
