.input {
  display: flex;
  flex-direction: column;

  &.search {
    position: relative;
    flex-direction: row;
    align-items: center;

    .input-field {
      padding-right: 46px;

      &:placeholder-shown + svg {
        opacity: 0.4;
      }

      &:placeholder {
        color: $black;
        opacity: 0.4;
      }
    }

    svg {
      transition: $transition;
      position: absolute;
      right: 16px;
    }
  }

  .input-label {
    margin-bottom: 8px;
  }

  .input-field {
    outline: none;
    padding: 10px 16px;
    border-radius: $round-md;
    border: none;
    background: $light-gray;
    width: 100%;
    transition: $transition;

    &:focus {
      box-shadow: outline($blue);
    }
  }
}

.input-row {
  display: flex;
  margin-bottom: 16px;

  .input {
    flex: 1;
    margin-bottom: 0;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}
