.sidebar {
  flex: 1;
  max-width: 320px;
  background: $white;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;

  .sidebar-header {
    margin-bottom: 40px;

    .sidebar-title {
      font-size: 26px;
    }
  }

  .sidebar-body {
    display: flex;
    flex-direction: column;
    flex: 1;

    .links {
      flex: 1;
      justify-content: center;
      display: flex;
      flex-direction: column;

      .link {
        margin: 20px 0;
        font-size: 20px;
      }
    }
  }
}
