$primary: #55f;

$black: #000;
$blue: #69f;

$round-sm: 4px;
$round-md: calc($round-sm * 2);
$round-lg: calc($round-sm * 3);
$round-xl: calc($round-sm * 4);
$round-2xl: calc($round-sm * 5);
$round-3xl: calc($round-sm * 6);
$round-4xl: calc($round-sm * 7);
$round-full: 100%;
